<form id="signup"  ng-submit="users.signup()">
  <label for="full_name">full_name</label>
  <input type="text" name="full_name" placeholder="full_name" ng-model="agents.agent.full_name">

  <label for="realname">Real Name</label>
  <input type="realname" name="realname" placeholder="realname" ng-model="agents.agent.realname">

  <label for="password">Password</label>
  <input type="password" name="password" placeholder="Password" ng-model="agents.agent.password">

  <input type="submit" value="Access">
</form>