<div ng-controller = 'barsController as bars'>
  <form ng-submit='bars.getBars(bars.newBar.term, bars.newBar.location)'>
  <label>I am in the mood for</label>
    <input type="text" placeholder="name" ng-model='bars.newBar.term'>
    <label>in</label>
    <input type="text" placeholder="location" ng-model='bars.newBar.location'>
    <input type="submit" value="submit">
  </form>

  <h1 ng-model="bars.newBar.term"></h1>
  <h1 ng-model="bars.newBar.location"></h1>


  <ul ng-repeat='bar in bars.all[0]'>
    <li>{{bar.name}}</li>
    <li>{{bar.rating}}</li>
    <img src="{{bar.image_url}}">
 <button ng-click="locations.addLocation()"> Like</button>
<button>Dislike</button>
  </ul>
  </div>


  <div id="tinderslide">
      <ul>
          <li class="pane1"><div class="img"></div><div>Miami Beach</div><div class="like"></div><div class="dislike"></div></li>
          <li class="pane2"><div class="img"></div><div>San Francisco</div><div class="like"></div><div class="dislike"></div></li>
          <li class="pane3"><div class="img"></div><div>Chicago</div><div class="like"></div><div class="dislike"></div></li>
          <li class="pane4"><div class="img"></div><div>New York</div><div class="like"></div><div class="dislike"></div></li>
          <li class="pane5"><div class="img"></div><div>Beach</div><div class="like"></div><div class="dislike"></div></li>
      </ul>
  </div>