<div ng-controller='UsersController as users'>
<form id="signup"  ng-submit="users.signup()" ng-hide="users.isLoggedIn()">
  <label for="full_name">full_name</label>
  <input type="text" name="full_name" placeholder="full_name" ng-model="users.user.full_name">

  <label for="email">email</label>
  <input type="email" name="email" placeholder="email" ng-model="users.user.email">

  <label for="password">Password</label>
  <input type="password" name="password" placeholder="Password" ng-model="users.user.password">

  <input type="submit" value="signup">
</form>
</div>

