<!DOCTYPE html>
<html ng-app='YelpsApp'>
<head>
  <title>Yelp App</title>
  <script type="text/javascript" src="https://cdn.rawgit.com/auth0/angular-jwt/master/dist/angular-jwt.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular-resource.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
  <script type="text/javascript" src="js/app.js"></script>
  <script type="text/javascript" src="js/yelpController.js"></script>
</head>
<body ng-controller = 'barsController as bars' ng-controller='usersController as users'>



  <form ng-submit='bars.getBars(bars.newBar.term, bars.newBar.location)'>
    <input type="text" placeholder="name" ng-model='bars.newBar.term'>
    <input type="text" placeholder="location" ng-model='bars.newBar.location'>
    <input type="submit" value="submit">
  </form>

  <h1 ng-model="bars.newBar.term"></h1>
  <h1 ng-model="bars.newBar.location"></h1>


  <ul ng-repeat='bar in bars.all[0]'>
    <li>{{bar.name}}</li>
    <li>{{bar.rating}}</li>
    <img src="{{bar.image_url}}">
  </ul>


</body>
</html>