* {
  margin: 0 auto;
  padding: 0;
  font-family: 'Avenir Next';
  text-rendering: optimizeLegibility;
   -webkit-font-smoothing: antialiased;
   text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
}

body {
  background-color: #5A72A6;
}

.container {
 text-align: center;
 position: absolute;
 left: 50%;
 top: 50%;
 transform: translate(-50%, -50%);
}



/*--- HEADER ----*/

header {
  width: 100%;
  height: 60px;
  background-color: #5A72A6;
}

ul {
  margin: 0 auto;
  padding: 0;
}

li {
  display: inline-block;
  line-height: 60px;
}

li.left {
  float: left;
}

li.right {
  float: right;
}

a {
  text-decoration: none;
  color: #FFF;
  font-weight: 600;
  margin: 20px;
  font-size: 18px;
}

/*---- Homepage -----*/

h1 {
  font-size: 70px;
  font-weight: 600;
  color: #FFF;
}

h2 {
  margin-top: -10px;
  font-size: 30px;
  font-weight: 400;
  color: #F2F2F2;
}

.search {
  margin-top: 50px;
  width: 60%;
  height: 250px;
  background-color: #3C568E;
  border-radius: 6px;

}

.form-group {
width: 360px
}


.btn-default{
  background-color:#04BAB1;
  margin-top: 10px;
  color:#F2F2F2;
}

label{
  color: #F2F2F2
}

.circular {
  width: 300px;
    height: 300px;
    border-radius: 150px;
    -webkit-border-radius: 150px;
    -moz-border-radius: 150px;
    background: url(../img/logo.png); 
    box-shadow: 0 0 8px rgba(0, 0, 0, .8);
    -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
    -moz-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
    background-position: center;

}

 .typeset-cursor {
  display: inline-block;
  margin-left: 5px;
  width: 1px;
  height: 35px;
  background: #333 ;
  margin-bottom: -2px;
}

.blink {
  animation-name: blink;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
  -webkit-animation-timing-function: cubic-bezier(1,0,0,1);
    animation-timing-function: cubic-bezier(1,0,0,1);
  -webkit-animation-duration: 1s;
}

@-webkit-keyframes blink {
  0%, 100% {
    opacity: 1
  }
  50% {
    opacity: 0
  }
}

#logonav {
  margin-top: 25px:;
}

.modal-header{
  background-color: #3C568E
}

.modal-body {
  background-color: #F2F2F2
}

.modal-footer {
  background-color: #3C568E
}

h4.modal-title {
  color:white;
}

label{
  color:black;
  padding:5px;
}

#small {
  color:white;
  font-size:30px;
}


