
<section ng-controller = 'barsController as bars'>
  <div class='container'>
    <div class='row'>
      <div class="col-md-6 col-md-offset-3" ng-if="bars.all.length != 0">
        <div id="tinderslide">
          <ul>
            <li ng-repeat='bar in bars.all' class="pane{{$index}}" on-finish-render>
              <div class="img"><img ng-src="{{bar.image_url}}"></div>
              <div>{{bar.name}} - {{bar.rating}} / 5</div>
              <div class="like"></div>
              <div class="dislike"></div>
            </li>
          </ul>
        </div>
        <div></div>
        <div class="actions">
          <a href="#" class="dislike"></a>
          <a href="#" class="like"></a>
        </div>
      </div>
    </div>
  </div>
</section>


